:root {
  --text-color: white;
  --font-family: "Orbitron";
  --background-image: url(https://img.freepik.com/vector-gratis/lineas-negras-abstractas-fondo-geometrico_677411-2755.jpg?w=1380&t=st=1716674901~exp=1716675501~hmac=d3c52088c45c51ec24922017f67f9df8f26716c9e0b299cca08a6f0cb0fe6e46);
}

body {
  font-family: "Orbitron";
  margin: 0;
  padding: 0;
  background-image: var(--background-image);
  background-size: cover;
}
a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
main {
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a:hover {
  text-decoration: underline;
}
header {
  margin-top: 1%;
  display: flex;
  width: 100%;
  left: 0;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-top: 40px;
}

.content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px auto auto auto;
}

h2 {
  color: #333;
  font-size: 24px;
}

p {
  line-height: 1.5;
}

footer {
  color: transparent;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
}
